<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pial.newtonslaw">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".homepage"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".exploreNewton"
            android:label="@string/title_activity_explore_newton"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".laws"
            android:label="@string/title_activity_laws"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".explanation"
            android:label="@string/title_activity_explanation"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".problems"
            android:label="@string/title_activity_problems"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>
